<!--<h1>Users by country</h1>-->

<script src='https://www.google.com/jsapi'></script>


<!--<div class="container-fluid">-->
  <!--<div class="row-fluid">-->
    <!--<div class="span4">-->
      <!--<div id='chart1'>< % geo_chart %></div>-->
      <!--< %= render_chart(@chart, 'chart1') %>-->
    <!--</div>-->
    <!--<div class="span4">-->
      <!--<div id='chart2'>< % area_chart %></div>-->
      <!--< %= render_chart(@areachart, 'chart2') %>-->
    <!--</div>-->
    <!--<div class="span4">-->
      <!--< % if current_user %>-->
        <!--<div id='chart3'>< % column_chart %></div>-->
        <!--< %= render_chart(@column_chart, 'chart3') %>-->
      <!--< % end %>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span4">
      <div class="row-fluid">
        <div class="span12 pull-right">

          <div class="navbar">
            <div class="container">
              <div class="nav-collapse">
                <p class="pull-right"><%= image_tag("baner.jpg", :alt => "rss feed") %></p>

                <div class="row-fluid">
                  <div class="span12">
                    <div class="carousel slide" id="carousel-735620">
                      <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-735620">
                        </li>
                        <li data-slide-to="1" data-target="#carousel-735620">
                        </li>
                        <li class="active" data-slide-to="2" data-target="#carousel-735620">
                        </li>
                        <li data-slide-to="3" data-target="#carousel-735620">
                        </li>
                      </ol>
                      <div class="carousel-inner">
                        <div class="item  img-circle">
                          <%= image_tag("1_.jpg", :alt => "rss feed") %>
                        </div>
                        <div class="item img-circle">
                          <%= image_tag("2_.jpg", :alt => "rss feed") %>
                        </div>
                        <div class="item active img-circle">
                          <%= image_tag("3_.jpg", :alt => "rss feed") %>
                        </div>
                        <div class="item img-circle">
                          <%= image_tag("4_.jpg", :alt => "rss feed") %>
                        </div>
                      </div>
                      <!--<a data-slide="prev" href="#carousel-735620" class="left carousel-control">‹</a> <a data-slide="next" href="#carousel-735620" class="right carousel-control">›</a>-->
                    </div>
                  </div>
                </div>
                <script>$('#carousel-735620').carousel();</script>

              </div>
            </div>
          </div>

        </div>
      </div>
      <!--<div class="row-fluid">-->
        <!--<div class="span12">-->
          <!--<div id='chart1'>< % geo_chart %></div>-->
          <!--< %= render_chart(@chart, 'chart1') %>-->
        <!--</div>-->
      <!--</div>-->

    </div>

    <div class="span8">
      <div class="row-fluid">
        <div class="span12">
          <div id='chart2'><% area_chart %></div>
          <%= render_chart(@areachart, 'chart2') %>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span12">

          <% if current_user %>
            <div id='chart3'><% column_chart %></div>
            <%= render_chart(@column_chart, 'chart3') %>
            <table id="activities" class="table table-condensed table-hover">
              <thead>
              <tr class="warning">
                <th>Date</th>
                <!--<th>Name</th>-->
                <th>Description</th>
              </tr>
              </thead>
              <tbody>
              <% @activities.each do |activities| %>
                  <tr>
                    <td><%= activities.created_at %></td>
                    <!--<td>< %= activities.time %></td>-->
                    <!--<td> <%= activities.name %></td>-->
                    <td><%= activities.description %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>


<script language="JavaScript" type="text/javascript">
  var cookie = getCookie('reload');
  if (cookie == null)
  {
    setCookie('reload', 0);
  }
  var reload = getCookie('reload');
  if (reload == 0)
  {
    setCookie('reload', 1);
    window.location.reload();
  }
</script>